name: Go
on: [push]
jobs:

  build:
    strategy:
      matrix:
        go-version: [ '1.16', '1.17' ]
        os: [ubuntu-latest, macos-latest, windows-latest]
    runs-on: ${{ matrix.os }}

    steps:
    - name: Install Go
      if: success()
      uses: actions/setup-go@v2
      with:
        go-version: ${{ matrix.go-version }}
    - name: Check out code into the Go module directory
      uses: actions/checkout@v2

    - name: Run tests
      run: make test
